{% extends "base.html" %}

{% block cuerpo %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar Producto</h2>
        <!--targeta-->
        <div class="card">
            <div class="card-body">
              <form action="/editarProveedor/" method="POST"> {% csrf_token %} <!-- falta action-->
                <div class="form-group">
                  <input type="text" id="txtcodigo" name="txtcodigo" class="form-control"
                  value="{{misproveedores.codigo}}"
                  minlenght="1" maxLenght="6" readonly required>
                </div>
                <div class="form-group py-3">
                  <input type="text" id="txtnombre" name="txtnombre" class="form-control"
                  value="{{misproveedores.nombre}}"  maxLenght="100" required>
                </div>
                <div class="form-group py-3">
                  <input type="text" id="txttelefono" name="txttelefono" class="form-control"
                  value="{{misproveedores.telefono}}"  maxLenght="100" required>
                </div>
                <div class="form-group py-3">
                  <input type="text" id="txtemail" name="txtemail" class="form-control"
                  value="{{misproveedores.email}}"  maxLenght="100" required>
                </div>
                <div class="form-group py-3">
                  <input type="text" id="txtcantidad" name="txtcantidad" class="form-control"
                  value="{{misproveedores.cantidad}}"  maxLenght="100" required>
                </div>
                <div class="form-group py-3">
                  <input type="text" id="txtdireccion" name="txtdireccion" class="form-control"
                  value="{{misproveedores.direccion}}"  maxLenght="100" required>
                </div>
                <div class="form-group py-3">
                  <input type="text" id="txthorario" name="txthorario" class="form-control"
                  value="{{misproveedores.horario}}"  maxLenght="100" required>
                </div>
                <div class="form-group py-2">
                  <button type="submit" class="btn btn-primary">Editar Proveedor</button>
                </div>
              </form>
            </div>
          </div>
    </div>
</div>

{% endblock%}